.packages-wrapper {
  @media (max-width: 650px) {
    padding: 100px 20px;
  }

  @media (min-width: 650px) and (max-width: 1100px) {
    padding: 155px 125px;
  }

  @media (min-width: 1100px) {
    padding: 155px 200px;
  }

  .packages-main {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    flex-flow: row wrap;
    flex-direction: row;

    .data-item-list {
      align-items: center;
      flex-basis: 30%;
      padding-bottom: 25px;

      .data-item-content {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        font-size: 16px;

        .content-text {
          padding-top: 5px;
        }

        .content-edit {
          font-size: 20px;

          a {
            text-decoration: none;
            color: black;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }

      .data-item-count {
        font-size: 12px;
      }

      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
      }
    }
  }
}
