.collections-wrapper {
  @media (max-width: 650px) {
    padding: 100px 20px;
  }

  @media (min-width: 650px) and (max-width: 1100px) {
    padding: 155px 125px;
  }

  @media (min-width: 1100px) {
    padding: 155px 200px;
  }

  .collections-main {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    flex-flow: row wrap;
    flex-direction: row;

    .data-item-list {
      align-items: center;
      flex-basis: 30%;
      margin-bottom: 25px;
      font-size: 13px;

      .collections-top {
        .collections-image {
          img {
            width: 100%;
            height: 200px;
          }
        }
      }

      .collections-bottom {
        padding: 10px 5px;
        box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.15);
        .collections-text-preview {
          display: flex;
          justify-content: space-between;

          .collections-text {
            font-weight: 600;
            overflow: hidden;
          }

          .collections-preview {
            color: $color-ash;
          }
        }

        .collections-date {
          color: $color-ash;
        }

        .collections-etc {
          display: grid;
          grid-template-columns: auto auto 1fr;
          padding-top: 5px;
          align-items: center;
          font-weight: bold;

          .collections-etc-image {
            padding-right: 20px;
          }

          .collections-etc-download {
            padding-right: 20px;
          }

          .collections-etc-edit {
            justify-self: flex-end;
          }
        }
      }
    }
  }
}
