.breadcrumb {
  background: none;

  .breadcrumb-item {
    a {
      color: $color-ash !important;
    }
  }

  .breadcrumb-item.active {
    color: #c2a47e;
  }
}

.cedit {
  @media (max-width: 550px) {
    padding: 100px 10px;

    .cedit-main-menu {
      .cedit-menu {
        .cedit-menu-style {
          padding: 7px 5px;
          margin-right: 5px;
        }
      }
    }

    .cedit-collection {
      padding: 50px 20px;
    }

    .cedit-theme {
      padding: 50px 20px;

      img {
        width: 100px;
        height: auto;
        max-height: 200px;
      }
    }

    .cedit-upload {
      padding: 50px 20px;
    }
  }

  @media (min-width: 550px) and (max-width: 992px) {
    padding: 120px 50px;

    .cedit-main-menu {
      .cedit-menu {
        .cedit-menu-style {
          padding: 7px 7px;
          margin-right: 10px;
        }
      }
    }

    .cedit-content {
      .cedit-collection {
        padding: 50px 50px;
      }

      .cedit-theme {
        padding: 50px 50px;

        img {
          width: 120px;
          height: auto;
          max-height: 200px;
        }
      }

      .cedit-upload {
        padding: 50px 50px;
      }
    }
  }

  @media (min-width: 992px) {
    padding: 120px 190px;

    .cedit-main-menu {
      .cedit-menu {
        .cedit-menu-style {
          padding: 7px 15px;
          margin-right: 20px;
        }
      }
    }

    .cedit-collection {
      padding: 50px 100px;
    }

    .cedit-theme {
      padding: 50px 100px;

      img {
        width: 150px;
        height: auto;
        max-height: 200px;
      }
    }

    .cedit-upload {
      padding: 50px 100px;
    }
  }

  .cedit-header-menu {
    margin-left: -17px;
  }

  .cedit-header-text {
    padding-bottom: 70px;

    .cedit-header-text-name {
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 5px;
    }

    .cedit-header-text-date {
      font-size: 18px;
    }
  }

  .cedit-main-menu {
    .cedit-menu {
      display: flex;

      .cedit-menu-style {
        color: #0e203d;

        &:hover {
          cursor: pointer;
        }
      }

      .cedit-menu-style.active {
        background: #f2ebdc;
        font-weight: bold;
      }
    }

    .cedit-menu-border {
      border: 2px solid #c2a47e;
    }
  }

  .cedit-content {
    .cedit-collection {
      button {
        float: right;
        background: #0e203d;
        color: white;
        padding: 5px 30px;

        &:hover {
          background: #122e3d;
        }
      }
    }

    .cedit-theme {
      display: flex;
      justify-content: space-between;
      padding-bottom: 70px;

      :hover {
        cursor: pointer;
      }
    }

    .cedit-theme-preview {
      .theme-preview {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 50px;

        .theme-preview-wrap {
          border: 1px solid #0e203d;
          color: #0e203d;
          display: flex;
          padding: 10px 20px;

          &:hover {
            cursor: pointer;
          }

          .theme-preview-text-1 {
            padding-right: 4px;
            margin-top: -3px;
            font-size: 13px;
          }

          .theme-preview-text-2 {
            font-size: 10px;
          }
        }
      }
    }

    .cedit-theme-button {
      button {
        font-weight: bold;
        font-size: 14px;
        float: right;
        background: #0e203d;
        outline: none !important;
        box-shadow: none !important;
        border-radius: 0px;
        padding-right: 30px;
        padding-left: 30px;
        color: white;

        &:hover {
          background: #122e3d;
          color: white;
        }
      }
    }

    .cedit-upload {
      margin-top: 50px;
      border: 1px solid #c2a47e;
      box-sizing: border-box;
      box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
      text-align: center;

      .cedit-upload-text {
        padding-top: 80px;
        padding-bottom: 80px;

        .upload-text-1 {
          font-size: 14px;
          font-weight: bolder;
          color: #373737;
          padding-bottom: 5px;
        }

        .upload-text-2 {
          font-size: 12px;
          color: #373737;
          padding-bottom: 10px;
        }

        .upload-text-3 {
          font-size: 12px;
          color: $color-ash;
        }
      }
    }

    .cedit-upload-button {
      padding-top: 50px;

      button {
        font-weight: bold;
        font-size: 14px;
        float: right;
        background: #0e203d;
        outline: none !important;
        box-shadow: none !important;
        border-radius: 0px;
        padding-right: 30px;
        padding-left: 30px;
        color: white;

        &:hover {
          background: #122e3d;
          color: white;
        }
      }
    }

    .cedit-upload-button-2 {
      padding-top: 50px;
      margin-right: -57px;
      padding-bottom: 90px;

      button {
        font-weight: bold;
        font-size: 14px;
        float: right;
        background: #0e203d;
        outline: none !important;
        box-shadow: none !important;
        border-radius: 0px;
        padding-right: 30px;
        padding-left: 30px;
        color: white;

        &:hover {
          background: #122e3d;
          color: white;
        }
      }
    }

    .cedit-image {
      display: flex;
      flex-flow: row wrap;
      flex-direction: row;
      text-align: center;
      align-items: center;
      margin-right: -120px;
      margin-left: -120px;
      padding-top: 50px;

      .image-preview-list {
        flex-basis: 33%;
        padding-top: 25px;
        padding-bottom: 25px;
      }

      img {
        width: 200px;
        height: auto;
        max-height: 200px;
      }
    }

    .cedit-privacy {
      .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 20px;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 34px;
      }

      .slider:before {
        position: absolute;
        content: '';
        height: 13px;
        width: 13px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 50%;
      }

      .cedit-advance-1 {
        padding-top: 50px;

        .cedit-advance-1-1 {
          display: flex;

          .cedit-1-1 {
            padding-right: 15px;

            input {
              opacity: 0;
              width: 0;
              height: 0;
            }

            input:checked + .slider {
              background-color: #0e203d;
            }

            input:focus + .slider {
              box-shadow: 0 0 1px #0e203d;
            }

            input:checked + .slider:before {
              -webkit-transform: translateX(20px);
              -ms-transform: translateX(20px);
              transform: translateX(20px);
            }
          }

          .cedit-1-2 {
            font-size: 14px;
            font-weight: bold;
          }
        }

        .cedit-advance-1-2 {
          font-size: 10px;
          padding-left: 55px;

          a {
            text-decoration: none;
            border: 0;
            color: #c2a47e;
          }
        }
      }

      .cedit-advance-2 {
        padding-top: 35px;

        .cedit-advance-2-1 {
          display: flex;

          .cedit-2-1 {
            padding-right: 15px;

            input {
              opacity: 0;
              width: 0;
              height: 0;
            }

            input:checked + .slider {
              background-color: #0e203d;
            }

            input:focus + .slider {
              box-shadow: 0 0 1px #0e203d;
            }

            input:checked + .slider:before {
              -webkit-transform: translateX(20px);
              -ms-transform: translateX(20px);
              transform: translateX(20px);
            }
          }

          .cedit-2-2 {
            font-size: 14px;
            font-weight: bold;
          }
        }

        .cedit-advance-2-2 {
          font-size: 10px;
          padding-left: 55px;
        }

        .cedit-advance-2-3 {
          padding-left: 55px;
          padding-top: 10px;
          button {
            padding: 10px 20px;
            background: #c2a47e;
            color: white;
            border: none;
          }

          input {
            padding-left: 15px;
          }

          .cedit-eye {
            margin-left: -45px;
            margin-right: 45px;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }

    .cedit-download {
      .cedit-advance-1 {
        padding-top: 50px;

        .cedit-advance-1-1 {
          display: flex;

          .cedit-1-1 {
            padding-right: 15px;
          }

          .cedit-1-2 {
            font-size: 14px;
            font-weight: bold;
          }
        }

        .cedit-advance-1-2 {
          font-size: 10px;
          padding-left: 55px;

          a {
            text-decoration: none;
            border: 0;
            color: #c2a47e;
          }
        }

        .download-option-1 {
          margin-left: 55px;
          margin-top: 30px;
          width: 340px;
          background: #f8f8f8;

          .option-image {
            padding: 15px;
            color: #373737;
            font-size: 10px;

            .option-image-text {
              font-weight: bold;
            }
          }
        }

        .download-option-2 {
          margin-left: 55px;
          margin-top: 20px;
          width: 340px;
          background: #f8f8f8;

          .option-email {
            padding: 15px;
            color: #373737;
            font-size: 10px;

            .option-email-text {
              font-size: 12px;
              font-weight: bold;
            }

            .option-email-add {
              padding-top: 10px;
              font-size: 14px;

              button {
                padding: 10px 20px;
                background: #c2a47e;
                color: white;
                border: none;
              }

              input {
                width: 220px;
                padding-left: 15px;
              }
            }
          }
        }
      }

      .cedit-advance-2 {
        padding-top: 35px;

        .cedit-advance-2-1 {
          display: flex;

          .cedit-2-1 {
            padding-right: 15px;
          }

          .cedit-2-2 {
            font-size: 14px;
            font-weight: bold;
          }
        }

        .cedit-advance-2-2 {
          font-size: 10px;
          padding-left: 55px;
        }

        .download-limit {
          padding-left: 55px;
          padding-top: 10px;

          button {
            padding: 10px 20px;
            background: #c2a47e;
            color: white;
            border: none;
          }

          input {
            width: 220px;
            padding-left: 15px;
          }
        }
      }
    }
  }
}
