.galleryphoto-wrapper {
	.gallery-head {
	display: flex;
	flex-direction: column;
	align-items: center;
	.gallery-link {
		text-align: center;
		.gallery-logo {
		widht: 100px;
		height: 100px;
	}
	.logo-name {
		font-size: 24px;
		font-weight: bold;
		color: #000000;
		margin-top: 20px;
		&:hover {
			color: #c2a47e;
			text-decoration: underline;
		}
	}
	 &:hover {
			text-decoration: none;
	 }
	}
	.gallery-search {
      display: flex;
      margin-top: 100px;
      .search-input {
        input {
          border: none;
          background: #f8f8f8;
          box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
          border-radius: 3px;
          padding-left: 10px;
          padding-right: 30px;
          padding-top: 12px;
          padding-bottom: 12px;
          font-size: 14px;
        }
      }
      .search-icon {
        padding-top: 10px;
        margin-left: -25px;
      }
    }
}
.gallery-wrapper {
	display: flex;
	row-gap: 30px;
		.cards-img {
			width: 100%;
			height: 250px;
			object-fit: cover;
		}
		.cards-text {
			padding: 10px 0px 10px 15px;
		.cards-text1 {
			font-size: 14px;
			font-style: normal;
			font-weight: bold;
			color: #000000;
		}
		.cards-text2 {
			font-size: 12px;
			font-style: normal;
			font-weight: 400;
			color: #000000;
		}
		}
}
.gallery-pagination {
	margin-top: 50px;
	display: flex;
	justify-content: center;
}
@media (max-width: 650px) {
	padding: 50px 20px 100px 20px;
	.gallery-wrapper {
		flex-direction: column;
		margin-top: 100px;
    }
    .search-input {
    	input {
    		width: 280px;
    		margin-left: -9px;
    	}
    }
}
@media (min-width: 650px) and (max-width: 1100px) {
	padding: 100px 50px 200px 50px;
	.gallery-wrapper {
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 200px;
		.gallery-cards {
			flex-basis: 45%;
		}
    }
    .search-input {
    	input {
    		width: 350px;
    	}
    }
}
@media (min-width: 1100px) {
	padding: 100px 150px 200px 150px;
	.gallery-wrapper {
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 200px;
		.gallery-cards {
			flex-basis: 30%;
		}
    }
    .search-input {
    	input {
    		width: 350px;
    	}
    }
  }
}