.temp-classic {
  .classic-top {
    .classic-background-top {
      width: 100%;
      min-height: 800px;
      padding: 50px;
      .classic-border {
        height: 700px;
        border: 2px solid white;
        color: white;
        .classic-border-inside {
          text-align: center;
          padding-top: 30px;
          padding-bottom: 30px;
          .classic-top-logo {
            padding-bottom: 10px;
          }
          .classic-top-studio {
            padding-bottom: 230px;
          }
          .classic-top-name {
            padding-bottom: 10px;
          }
          .classic-top-date {
            padding-bottom: 250px;
          }
        }
      }
    }
  }
}
